body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efbe7f;
}

h2{
    font-size: 67px;
    color: #0c3f0c;
    background-color: white;
    padding: 10px 40px;
    border-radius: 8px;
}